@import '../base/default.scss';

section#Footer{
    padding: 40px;
    background-color: $brave-pink;

    >div{
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
    }

    a:hover{
        color:$mild-white;
    }

    #FooterNav{
        display: flex;

        div{
            margin-right: 20px;
        }

        li{
            padding: 4px;

            &:hover{
                cursor: pointer;
                color:$mild-white;
            }
        }
    }

}