@import '../base/default.scss';

section#Teams{
    div#TeamMembers,
    figure#News,
    .Details,
    .Match_card{
        display: flex;
        padding-bottom: 20px;
    } 

    h2{
        padding-top: 20px;
    }

    .TeamsTop img{
        width: 100%;
    }

    .About{
        padding: 20px 0;
    }

    #TeamMembersWrapper{
        position: relative;

        button{
            .Prev,
            .Next{
                font-size: 36px;
                position: absolute;
                top: calc(50% - 36px);
                left: 15px;
                border: none;
                cursor: pointer;
                position:absolute;
                width: 50px;
                height: 100%;
                background-color: $red-transparent03;
                top: 0;
                z-index: 100;
            }

            .Prev{
                left: 0px;
            }

            .Next{
                right: 0px;
            }
    
            &:hover{
                background-color:  $red-transparent06;
            }
        }

        span{
            font-size: 36px;
            position: absolute;
            top: calc(50% - 36px);
            left: 15px;
        }

        .TeamsDots{
            margin: 0 auto;
            text-align: center;

            .Dot {
                cursor: pointer;
                border: none;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: $red-transparent03;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;

                &:hover,
                .Active{
                  background-color: $red;
                }
            }
        }
    }


    #TeamMembersContainer{
        width: 1120px;
        height: 240px;
        overflow: hidden;
    
        #TeamMembers{
            width: 3400px;
            opacity: 1;

            &::-webkit-scrollbar{
                width: 0;
                display: none;
            }

            figure{
                display: flex;
                flex-direction: column;
                width: 170px;

                img{
                    padding-right: 20px;
                    display: block;
                    margin: 0 auto;
                    width: 170px;
                    height: 180px;

                    &:hover{
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }

                figcaption{
                    text-align: center;
                }
            }
        }       
    }
    
}

  