// Text Colors
$mild-black : #252525;
$mild-white: #FFF6EE;
$white: #fff;

// BackGround
$brave-pink: rgb(240, 113, 121);
$brave-pink-transparent: rgba(240, 113, 121, 0.3);
$red: rgb(255,0,0);
$red-transparent06: rgba(255, 0, 0, 0.6);
$red-transparent03: rgba(255, 0, 0, 0.3);
$mild-black-transparent: rgba(37, 37, 37, 0.7);