body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*Default Styling*/

* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFF6EE;
  color: #252525;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #252525;
}

a:hover{
  color:rgb(240, 113, 121);
}

address{
  font-style: normal;
}

h1{
  padding: 20px 0;
  font-size: 3.2em; 
}
 
h2{
 font-size: 2em;
 padding-bottom: 20px;
}
 
h3{
 font-size: 1.5em;
 padding-bottom: 20px;
}

h1, h2,h3{
  line-height: 1em;
}

p{
  padding-bottom: 10px;
}

input{
  font-size: 16px;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}

.hidden{
  display:none;
}

i.credit{
  text-align: right;
  float: right;
  font-size: 12px;
}

/*Header*/
header .logo{
  padding: 20px;
  background-color: rgb(240, 113, 121);
}

header .logo div.wrapper{
  display: flex;
}

header .logo img{
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

header .logo h4{
  width: 300px;
  align-self: center;
}

.gohome a:hover{
  color:#fff;
}

/*Navigations*/
#top-nav{
  margin:0 auto;
  padding: 40px 0px 20px 0px;
}

#second-nav,
section#learn_rugby nav,
aside#matches nav{
  margin: 20px 0 40px 0;
}

#top-nav ul,
#second-nav ul,
section#learn_rugby nav ul,
aside#matches nav ul{
  display: flex;
  justify-content: space-around;
}

#top-nav ul li,
#second-nav ul li,
section#learn_rugby nav ul li,
aside#matches nav ul li{
  cursor: pointer;
  padding-bottom: 10px;
  text-align: center;
  width: 150px;
  position: relative;
  font-weight: bold;
}

#top-nav ul li:after{
  position: absolute;
  left: 50%;
  content: '';
  height: 3px;
  background: rgb(240, 113, 121);
  transition: all 0.5s linear;
  width: 0;
  bottom: -3px;
}

#top-nav ul li:hover:after,
#top-nav ul li.active:after{
  width: 100%;
  left: 0px;
}

#second-nav ul li,
section#learn_rugby nav ul li,
aside#matches nav ul li{
  flex-grow: 1;
  padding: 20px 0;
  background-color: rgba(240, 113, 121, 0.3);
}

section#learn_rugby nav ul li:hover,
section#learn_rugby nav ul li.active,
aside#matches nav ul li:hover,
aside#matches nav ul li.active,
#second-nav ul li:hover,
#second-nav ul li.active{
  background-color: rgba(240, 113, 121);
}

section#welcome,
section#teams,
section#learn_rugby,
section.match-wrap,
aside#contact{
  padding: 40px;
}

/*Welcome*/

section#welcome{
  margin-top: 20px;
  height: 50vh;
  background:url(../img/rugby_cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section#welcome h1{
  color: #FFF6EE;
  background: rgba(37, 37, 37, 0.7);
  line-height: 2em;
}

section#welcome article{
  background: #FFF6EE;
  padding: 20px;
  width: 800px;
}

/*Teams*/

section#teams h2{
  padding-top: 20px;
}

section#teams .teams-top img{
  width: 100%;
}

section#teams .about{
  padding: 20px 0;
}

section#teams #team-members-wrapper{
  position: relative;
}

section#teams #team-members-wrapper button.prev,
section#teams #team-members-wrapper button.next{
  border: none;
  cursor: pointer;
  position:absolute;
  width: 50px;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.3);
  top: 0
}

section#teams #team-members-wrapper button:hover{
  background-color:  rgba(255, 0, 0, 0.6);
}

section#teams #team-members-wrapper span{
  font-size: 36px;
  position: absolute;
  top: calc(50% - 36px);
  left: 15px;
}

section#teams #team-members-wrapper button.prev{
  left: 0px;
  z-index: 100;
}

section#teams #team-members-wrapper button.next{
  right: 0px;
  z-index: 100;
}

section#teams #team-members-wrapper .teams-dots{
  margin: 0 auto;
  text-align: center;
}

section#teams #team-members-wrapper button.dot {
  cursor: pointer;
  border: none;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

section#teams #team-members-wrapper button.dot:hover,
section#teams #team-members-wrapper button.active{
  background-color: rgba(255, 0, 0);
}

section#teams div#team-members,
section#team-details figure#news,
section.details,
section.match_card{
  display: flex;
  padding-bottom: 20px;
}

section#teams div#team-members-container{
  width: 1120px;
  height: 240px;
  overflow: hidden;
}

section#teams div#team-members{
  width: 3400px;
  opacity: 1;
}

section#teams div#team-members::-webkit-scrollbar{
  width: 0;
  display: none;
}

section#teams div#team-members figure{
  display: flex;
  flex-direction: column;
  width: 300px;
}

section#teams div#team-members figure img,
section#team-details figure img{
  padding-right: 20px;
  display: block;
  margin: 0 auto;
}

section#teams div#team-members figure img{
  width: 170px;
  height: 180px;
}

section#teams div#team-members figure img:hover{
  opacity: 0.7;
  cursor: pointer;
}

section#team-details figure img{
  width: 300px;
  height: 300px;
}

section#teams figure figcaption{
  padding-right: 20px;
  text-align: center;
}

/*Team member details popup*/

section#team-details{
  padding: 20px;
  background: #fff;
  border: 1px black solid;
  margin: 10vh auto;
  border-radius: 5px;
  width: 80%;
  max-width: 1120px;
  position: relative;
  transition: all 5s ease;
}

section#team-details section.bio{
  min-width: 500px;
  width: 40%;
}

section#team-details section.bio table{
  margin: 10px auto;
  width: 400px;
}

section#team-details section.bio table,
section#team-details section.bio th,
section#team-details section.bio td{
  border: #000 1px solid;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

section#team-details article{
  align-self: center;
}

section#team-details article .sms{
  margin: 20px auto;
}

.fa-brands{
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color:#252525;
}

section#team-details article .sms i:hover{
  cursor: pointer;
  color:rgb(240, 113, 121);
}

section#team-details figure#news figure{
  width: 30%;
}

section#team-details figure#news img{
  height: 200px;
  width: calc(100% - 40px);
}

.overlay{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

section#team-details .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

section#team-details .close:hover {
  color: rgba(240, 113, 121);
}


/*Learn Rugby*/

section#learn_rugby .rule-card{
  margin-top: 40px;
}

section#learn_rugby article{
  display:flex;
  padding: 20px 0;
}

section#learn_rugby .rule-card article div{
  align-self: center;
  width: 100%;
  margin-right: 20px;
}

section#learn_rugby .rule-card article figure{
  align-self: center;
  width: 80%;
}

/*Matches*/

section.match_card{
  padding: 40px 0;
  border-bottom: 5px rgba(240, 113, 121) solid;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
}

section.match_card table,
section.match_card .highlight,
section.match_card .map{
  width: 50%;
}

section.match_card .highlight,
section.match_card .map{
  margin: 0 auto;
  max-width: 400px;
}

section.match_card .highlight img,
section.match_card .map iframe{
  width: 100%;
  max-width: 400px;
}

section.match_card .map address{
  padding-top: 10px;
}

section.match_card table{
  border-collapse: collapse;
  text-align: center;
}

section.match_card table,
section.match_card .map h4{
  font-size: 20px;
}

section.match_card table tr{
  height: 40px;
}

section.match_card table tr.match{
  height: 100px;
}

section.match_card table tr.match_teams td{
  display: flex;
  justify-content: center;
}

section.match_card table tr.match_teams .teams{
  padding: 0 10px;
  align-self: center;
}

section.match_card table tr.match_teams img.team{
  width: 80px;
  height: 80px;
}

section.match_card table .match_title th{
  padding-bottom: 10px;
}

section.match_card table tr.match_teams .teams,
section.match_card .match_schedule td.match_date,
section.match_card .match_place td{
  font-size: 24px;
}

section.match_card table .result td{
  height: 42px;
  font-size: 42px;
}

section.match_card .match_schedule table{
  width: 100%;
}

section.match_card .buy-ticket{
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

section.match_card .button{ 
  padding:10px 40px;
  width: 100%;
  background-color: rgb(240, 113, 121);
  border:#252525 2px solid;
  border-radius: 10px;
  text-align: center;
}

section.match_card .button:hover{
  cursor: pointer;
  background-color: #fff;
}

/*Contact Form*/
aside#contact header{
  height: 30vh;
  background:url(../img/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

aside#contact header h1{
  color: #fff;
  padding: 40px 100px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
}

aside#contact section#contact_address .contact_details{
  height: 10vh;
  margin: 0 auto;
  background-color: rgba(240, 113, 121);
  text-align: center;
  padding-top: 20px;
}

aside#contact section#contact_address .contact_point{
  margin: 0 auto;
  background-color: #FFF6EE;
  border-left: 590px solid transparent;
  border-right: 590px solid transparent;
  border-top: 100px solid rgba(240, 113, 121);
}

form#contact-form{
  margin: 40px auto;
}

aside#contact form#contact-form label{
  width: 100px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

aside#contact form#contact-form label.left{
  text-align: left;
}

aside#contact form#contact-form .alert{
  margin: 20px auto;
  width: 800px;
  background-color: lightgray;
  color: red;
  padding: 20px;
}

aside#contact form#contact-form .alert li{
  padding-bottom: 10px;
}

input,
select{
  padding: 10px;
  margin: 10px 0;
}

aside#contact input{
  width: 35%;
}

select[name="category"]{
  width: calc(100% - 180px);
}

label{
  padding: 10px 0;
}

textarea{
  margin: 10px 0;
  width: calc(100% - 100px);
  resize: vertical;
  padding:15px;
  border-radius:15px;
  height:150px;
}

input[type="submit"]{
  float: right;
}

/*Subscription Form*/
section#subscription{
  padding: 20px 40px;
  margin-bottom: 20px;
}

footer section#subscription input{
  width: 28%;
  margin-right: 20px;
}

footer section#subscription select{
  width: 20%;
}

footer section#subscription #alert-sub{
  color: red;
}

/*Footer*/
section#footer > div{
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

footer section#footer{
  padding: 40px;
  background-color: rgba(240, 113, 121);
}

footer a:hover{
  color:#fff;
}

#footer-nav{
  display: flex;
}

#footer-nav div{
  margin-right: 20px;
}

#footer-nav li{
  padding: 4px;
}

#footer-nav li:hover{
  cursor: pointer;
  color:#fff;
}

/*Privacy policy and T&C*/
.privacy-policy{
  margin: 40px auto;
}

/*iframe Styling*/

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:300px;
  width:400px;
}

iframe{
  border: none;
  margin: 0;
}